a[data-toggle="tooltip"]:hover {
  background-color: #59acec;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

hr {
  width: 30%;
  display: flex;
  align-self: center;
  border: none;
  height: 1px;
  color: #333;
  background-color: #333;
}

.card:hover {
  box-shadow: 0 0 20px #9eafaf;
}

